# Auto detect text files and perform LF normalization
* text=auto
-------------------------------------------------------------------------------------------------------------------------------------

321027->chizuru
188469->kobayashi
255662->
339912->manhawa
333363->aint so hot 
297974->shota-public-x3
227910->shota-con
268281->elf and orc part-1
314672->elf and orc part-2
334544->tsukasa-chan 
339992->tamaki
291201->tamaki
320998->stepmom
341872->nurse
----------------------------------------------------------------------------------------------------------------------------------------
                                                                WAIFUS
kaguya-sama:
339429
319296

aqua: 
341890
337459
339257 

Mai-san:
310056
290382
255327

Hinata:
142490
248116
156998

Akeno:
144393
313044
153006

Elizabeth:
163140
156875
136665

Zero two:
260606
308637
254496

Rem:
312354
289276
189632
----------------------------------------------------------------------------------------------------------------------------------------
                                                            NAMES ONLY
Daisuki na haha
Fella pure
GVH-072
Saimin Seishidou
Mesu Kyoushi 4 Kegasareta Kyoudan
Pisu hame
 Katainaka ni Totsuidekita
Tsuma ga Onsen de Circle Nakama no Nikubenki ni Natta no Desu ga
Overflow
Saimin class
gishi wa yan mama -
suketto sanjou 
Oneshita
Kiss hug
Gakuen De Jikan Yo Tomare
chu site agechau
love x holic stitch
Noelle easton
Rebecca moore
----------------------------------------------------------------------------------------------------------------------------------------
                                                            RANDOM
286684  142856  330864  288308  173176  321128  275085                                                          
165310  177978  211759  212643  229540  250029  211519
256097  163478  91505   79280   260629  128051  121972
261633  172044  119055  208323  149942  161236  177150
233766  97949   230107  175822  213545  232837  179166  
138603  130183  173543  234642  268015  228293  268893  
239536  177023




